[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pytest = "*"
build = "*"
twine = "*"

[packages]
boto3 = "*"
cryptography = "*"
sqlalchemy = "*"
psycopg = {version = ">=3.1,<4", extras = ["binary"]}

[requires]
python_version = "3.12"
